__pycache__/
venv/*
5 API's implementation.txt
5 API's.txt
fakeUsersExport.feather
interestExport
interestExport.feather
newfile.log
reducedUsers.csv
templog
userExport
userExport.feather
userUpdation.feather
userUpdation.csv
interestExport.feather.lock
userExport.feather.lock
userUpdation.csv.lock
config/__pycache__/
scripts/cronJobRefresh.log
my_logfile.log
userExport.feather.test
userExport.feather.test.lock
